

.btn{

    background-color: rgb(17, 16, 16);
    color: white;
    padding: 18px 38px;
    border: 1px solid  #525252;
    border-radius: 8px;
    margin: 4px;
    font-size: 16px; 
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    flex-direction: row;
}

.btn,img{


}



.img{

    width: 20px;
    margin: 0px 10px;
    margin-left: 2px;
}
.buttons{
    display: flex;
    margin-left: 4px;
}
.div,h1{

    text-align: left;
    margin-left: 8px;
}
.btn:hover{

    background-color: #1b1a1a;
}
.buttons a{

    text-decoration: none;
}
hr{

        border: none;
        border-top: 0.25px solid #3f3e3e;
        margin-left: 0px;
        
      
      
}

@media(max-width:770px){

    .div{  
          width: 320px;

    }
    .buttons{

        display: flex;
        flex-direction: column;
    }
   
    
    
  
}







